
@model IEnumerable<Language>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Услуги";
}

<div class="body-custom">
    <h1>Услуги</h1>
    <br>
    <h3>Професионални преводи</h3>
    <p>
        Нашите опитни преводачи осигуряват прецизни и качествени преводи в най-различни области - юридически,
        медицински, технически и други. Гарантираме точност и конфиденциалност на всяко изречение.
    </p>
    <h4>Езици:</h4>

    <p>
        @for (int i = 0; i < @Model.Count(); i++)
        {
            @Model.ElementAt(i).Name
            @if (i < Model.Count() - 1)
            {
                <span>, </span>
            }
        }
    </p>

    <h3>Легализация и Нотариални Услуги</h3>
    <p>
        Специализираме се в легализацията на документи и предоставяме нотариални услуги. Нашите експерти ви
        помагат с всички правни формалности и улесняват процеса на легализация.
    </p>

    <h3>Консултации и Съвети</h3>
    <p>
        Нашите консултанти са тук, за да ви предоставят индивидуални съвети относно преводите и легализацията.
        С удоволствие ще ви насочим в правилната посока и ще отговорим на всички ваши въпроси.
    </p>
</div>
          