@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "За нас";
    string name = "ММ-ДИМИТЪР МАРКОВ";
}


<div class="body-custom">
    <img src="~/banner.png" width="100%">
    <br>
    <br>
    <h1>ЕТ @name</h1>
    
    <p>
        Преводи от/на чужди езици на частна и бизнес кореспонденция, легализация на документи, сертифицирани по стандарт за качество на превода.
    </p>
</div>