﻿@using LegalTranslation.ViewModels
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Промяна на парола";
}
<br>
    @if(@TempData["AlertMessageRed"] != null)
    {
        <div class="alert alert-danger">
            <strong>Съобщение - </strong>@TempData["AlertMessageRed"]
        </div>
    }
    @if(@TempData["AlertMessageGreen"] != null)
    {
        <div class="alert alert-success">
            <strong>Съобщение - </strong>@TempData["AlertMessageGreen"]
        </div>
    }
<br>

<div>
    <p>
        <h4 class="newOutConst">Промяна на парола</h4>
    </p>
    <div class="newInConst">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.Id" id="Id" name="Id"/>
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label">Стара парола</label>
                <input asp-for="OldPassword" class="form-control"  required/>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">Нова парола</label>
                <input asp-for="NewPassword" class="form-control"  required/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="NewPasswordConfirm" class="control-label">Повторете новата парола</label>
                <input asp-for="NewPasswordConfirm" class="form-control"  required/>
                <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input class="btn greenbtn-custom" type="submit" value="Запази промените" />
                <a class="btn redbtn-custom" asp-controller="Admin" asp-action="Index">Отказ</a>
            </div>
        </form>
        <br>
    </div>
</div>

<br>