﻿@using LegalTranslation.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Забравена парола";
}
<br>

<div>
    <p>
        <h4 class="newOutConst">Забравена парола</h4>
    </p>
    @if(TempData["AlertMessageRed"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Опитайте отново! </b> @TempData["AlertMessageRed"]</span>
        </div>
    }
    <div class="newInConst">
        <form asp-action="ForgottenPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" class="form-control" type="email" required>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
    
            <br>
    
            <div class="form-group">
                <input class="btn btn-outline-success float right greenbtn-custom mt-1" type="submit" value="Изпрати e-mail" />
                <a class="btn btn-outline-secondary graybtn-custom mt-1" asp-controller="Account" asp-action="Login">Назад</a>
            </div>
        </form>
        <br>
    </div>
</div>

<br>